---
import Providers from '../components/Providers.jsx';
---
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Isometrical.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>ServiceHub</title>
	</head>
	<body class="bg-primary-darkest text-primary-lightest">
		<slot />
	</body>
</html>